/* Common */
.alignCenter {
	text-align: center;
}

.cursorHelp {
	cursor: help;
}

/* Shortcode Toolbar */
.markItUpHeader ul .markItUpShortcodes:hover ul {
	display: block !important;
}

.markItUpHeader ul .markItUpShortcodes ul {
	border-top: 3px solid #FFD800;
	box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	left: -150px;
	margin: 0;
	max-height: 192px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	position: absolute;
	top: 24px;
}

.markItUpHeader ul .markItUpShortcodes li {
	display:block;
	margin: 0;
	padding: 0;
	width: 300px;
}

.markItUpHeader ul .markItUpShortcodes a {
	display: block;
	font-size: 9px;
	height: 10px;
	padding: 3px;
	text-indent: 0;
	text-transform: uppercase;
	width: 300px;
}


/* Optimize markItUp textarea size */
#Wrapper .markItUpEditor {
	box-sizing: border-box;
	height: 215px;
	width: 100%;
}


/* Avatar Tooltip Links */
.AvatarTooltip .ModTools a {
	display: block;
}


/* Admin Pages Layout Improvements */
#Admin_Modlog .ContentColumn[style*="width: 519px"],
#Admin_FlaggedSubmissions .ContentColumn[style*="width: 519px"],
#Feature_Index .ContentColumn[style*="width: 569px"] {
	width: 685px !important;
}

#Admin_Modlog .ContentColumn[style*="width: 150px"],
#Admin_FlaggedSubmissions .ContentColumn[style*="width: 150px"] {
	left: -165px;
	position: absolute;
}

#Feature_Index .ContentColumn[style*="width: 100px"] {
	left: -115px;
	position: absolute;
}

#Feature_Index .Content {
	overflow: hidden;
}

#Feature_Index .PreviewImage {
	width: 180px;
}

#Admin_FlaggedSubmissions table tr:hover {
	background: rgba(255,255,255,0.05);
}

#Admin_Modlog .LabelState.IsWithheld,
#Admin_FlaggedSubmissions .LabelState.IsWithheld {
	float: right;
}

.FlaggedSubmissionTools {
	display: none;
}

tr:hover .FlaggedSubmissionTools {
	display: block;
	float: left;
	margin-top: 5px;
}

.ModLogTruncateLink {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 130px;
}

#ModlogListModule td.ActionPerformed .gameIcon {
	height: auto;
	margin: 0 2px;
	width: 16px;
}

.FlagLogTruncateLink {
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 295px;
	margin-right: 5px;
	margin-top: 5px;
}
tr:hover .FlagLogTruncateLink {
	float :left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 230px;
	margin-right: 5px;
}

#Admin_FlaggedSubmissions .submissionCategory {
	text-indent: -9999px;
	margin-right: 5px;
}

.FeaturesThreshold {
	background: rgba(0,0,0,0.25);
	font-weight: bold;
	text-align: center;
}

.oldFeature .DateAdded span {
	color: red;
	font-weight: bold;
}

/* Admin Menu */
#AdminMenuWrap {
	padding: 40px 80px 40px 0;
	position: fixed;
	top: 60px;
	left: -175px;
	transition: all 0.1s;
}

#AdminMenuWrap:hover {
	left: 0;
	position: fixed;
	padding:40px 220px 100px 0;
}

#AdminMenu {
	background: #313942;
	box-shadow: 0 4px 15px rgba(0,0,0,0.2);
	font-size: 12px;
	list-style: none;
	padding: 2px 0 0;
	text-transform: uppercase;
}

#AdminMenu li {
	border-top: 1px solid #282e36;
	cursor: default;
}

#AdminMenu > li {
	position: relative;
}

#AdminMenu li:hover {
	background: #637484;
	color: #fff;
}

#AdminMenu li:hover ul {
	display: block;
}

#AdminMenu a,
#AdminMenu .AdminMenuHeader,
#AdminMenu .SubMenuHeader {
	box-sizing: border-box;
	color: #9299a2;
	text-shadow: 0 0 1px rgba(146,153,162,0.5);
	display: block;
	padding: 5px;
	width: 185px;
}

#AdminMenu a:hover {
	color: #fff;
	text-shadow: 0 0 1px rgba(255,255,255,0.5);
}

#AdminMenu ul {
	background: #313942;
	box-shadow: 0 4px 15px rgba(0,0,0,0.2);
	display: none;
	list-style: none;
	position: absolute;
	top: 0;
	left: 185px;
}

#AdminMenu ul li:first-child {
	border-top: none;
}

#AdminMenu .fa {
	margin-right: 5px;
}

#AdminMenu .AdminMenuHeader {
	border-top: none;
	color: #fff;
	text-shadow: 0 0 1px rgba(255,255,255,0.5);
	padding-left: 8px;
}
#AdminMenu .AdminMenuHeader:hover {
	background: none;
}

#AdminMenu ul .AdminMenuHeader,
#AdminMenu ul .AdminMenuHeader:hover {
	background: #282e36;
	color: #9299a2;
	padding-left: 5px;
}

#AdminMenu .fa-angle-right {
	float: right;
	margin: 2px 0;
}

@media (max-width: 1180px) {
	#AdminMenuWrap {
		padding: 40px 0 40px 0;
	}

	#AdminMenuWrap:hover {
		padding:40px 220px 100px 0;
	}
}

@media (max-width: 1000px) {
	#AdminMenuWrap {
		display: none;
	}
}